@font-face {
  font-family: "Bowlby One";
  src:
    url("bowlby-one/BowlbyOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bowlby One SC";
  src:
    url("bowlby-one/BowlbyOneSC-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
