body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

nav {
  background-color: #000;
  padding: .5em;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
}

@media screen and (width >= 50em) {
  /* we just add flex and space items using justify-content */
  nav ul {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    text-wrap: nowrap;
  }

  /* the easiest way to do this is to use position sticky
   * since nav lives inside body
   */
  nav {
    position: sticky;
    top: 0;
  }
}

@media screen and (width >= 2000px) {
  /* we just add flex and space items using justify-content */
  nav {
    max-width: 1500px;
  }
}

/*
 * to make text wrap around image we use floats
 * and we add some additional padding for the text so it doesn't look so ugly
 */
.feature {
  float: inline-start;
  margin-inline-end: 0.5em;
  max-width: 20vw;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.2em;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1em;
}
